{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<h1>Dashboard page</h1>
<p>Here we will see the key metrics of this app</p>
<p>On this page, you also enter youor record</p>
<p>you will see the total amount you spend each day for the past 7 days</p>
<p>you will see the total income you got earned for the past 7 days</p>
<P>Your goal is to earn more per day and spend less per day</P>
<h2>Start by inputing the amount you want to track</h2>
<form>
    <label>Amount</label>
    <label>Discription</label>
    <label>Category</label>
    <select></select>
</form>
{% endblock %}