{% extends "base.html" %}

{% block title %}Transaction History{% endblock %}

{% block content %}
<div class="row mt-3">
    <div class="col-10 offset-1 ">
        <h2>Transaction History</h2>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Transaction ID</th>
                    <th>Date</th>
                    <th>Description</th>
                    <th>Income</th>
                    <th>Expense</th>
                    <th>Balance</th>
                </tr>
            </thead>
            <tbody>
                {% for transaction in transactions %}
                <tr>
                    <td>{{ transaction.user_id }}</td>
                    <td>{{ transaction.transaction_id }}</td>
                    <td>{{ transaction.transaction_date }}</td>
                    <td>{{ transaction.description }}</td>
                    <td>{% if transaction.transaction_type == 'income' %}{{ transaction.amount }}{% endif %}</td>
                    <td>{% if transaction.transaction_type == 'expense' %}{{ transaction.amount }}{% endif %}</td>
                    <td>{{ transaction.balance }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <div class="transaction-summary">
            <h4>Total Income: {{ total_income }}</h4>
            <h4>Total Expenses: {{ total_expenses }}</h4>
        </div>
    </div>
</div>
{% endblock %}