{% extends "base.html" %}

{% block title %}Transaction History{% endblock %}

{% block content %}
<div class="row mt-3">
    <div class="col-10 offset-1 ">
        <div align="center">
            <h1>Profile page</h1>
            <p>Here we will see the key metrics of this app</p>
            <p>On this page, you also enter youor record</p>
            <p>you will see the total amount you spend each day for the past 7 days</p>
            <p>you will see the total income you got earned for the past 7 days</p>
            <P>Your goal is to earn more per day and spend less per day</P>
            <p>You will also see all the amount you have in your various bank accounts</p>
            <P>You will see the amount you have left in each of these accoun</P>
        </div>
{% endblock %}