{% extends "base.html" %}

{% block title %}Users - Financial Tracker{% endblock %}

{% block content %}
<div class="jumbotron mt-4">
    <h1 class="display-4"><i class="fa fa-users"></i> Users</h1>
</div>

<div class="row mt-3">
    <div class="col-10 offset-1">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Date Joined</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.username }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.date_joined }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}